*{
    text-align: center;

}

body{
    color: white;
    background-color: plum;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


.container1 {
    margin-top: 50px;
}

.datos {
    margin-top: 70px;
}

@media (max-width: 600px) {
    .container1{
      font-size: 15px;
    }
    body{
        background-color: brown;
    }
  }

body{
    font-family: 'Open Sans', sans-serif;
}
h2{font-family: 'Open Sans', sans-serif;}

p{font-family: 'Open Sans', sans-serif;}

ul{
    font-family: 'Open Sans', sans-serif;
}

.ClaseDatos {
    display: none;

}


 button{
    color: wheat;
    background-color: aqua;
 }
#seccion1 {
    font-size: 60px;
    text-align: center;
    background-color: gray;
}

legend, li {
    color: black;
}

.imagenes {

    margin-top: 25px;
}